<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Атмосфера начальной школы и СТС</title>
</head>
<body>

    <style>
        p{
        font-size: 18pt;
        }
    </style>

    <style>
        body{
            background-image: url("../static/img.png");
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>

    <style>
        div {width: 100%;}
        a {display: block; text-align: center;}
    </style>

    <div class="text">
        <h1>Атмосфера начальной школы и СТС</h1>
        <h2>Люди в черном, 1997 год, США</h2>
        <p>«Они защищают Землю от отбросов Вселенной»</p>
        <p>Фантастика, боевик, комедия, приключения</p>
        <h2>Пятый элемент, 1997 год, Франция, Великобритания</h2>
        <p>«Это не может быть найдено»</p>
        <p>Фантастика, боевик, комедия, мелодрама</p>
        <h2>Терминатор, 1984 - 2019 год, Великобритания, США</h2>
        <p>«Твоё будущее в его руках»</p>
        <p>Фантастика, боевик, триллер </p>
        <h2>Лара Крофт, 2001 – 2018 год, Великобритания, США</h2>
        <p>«Ее легенда начинается»</p>
        <p>фэнтези, боевик, триллер, приключения</p>
        <h2>Лысый нянь, 2005 год, США</h2>
        <p>«Добро пожаловать в пехоту»</p>
        <p>Боевик, драма, комедия, семейный</p>
        <h2>Как стать принцессой, 2001 год, США, Великобритания</h2>
        <p>«Она потрясающая. Она правит. Она царствует.»</p>
        <p>Драма, комедия, семейный</p>
        <h2>Крошка из Беверли-Хиллз, 2008 год, США, Мексика</h2>
        <p>«На 50% воин. На 50% любовь. На 50% Чихуахуа»</p>
        <p>Драма, мелодрама</p>
        <h2>Форсаж, 2001 -2021, США</h2>
        <p>«Если у тебя есть то, что нужно -  ты можешь получить всё»</p>
        <p>Боевик, триллер, криминал</p>
    </div>

</body>
</html>