<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Улица, парни и свобода</title>
</head>
<body>

<style>
    p{
    font-size: 18pt;
    }
</style>
    <style>
        body{
            background-image: url("../static/img.png");
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>

    <style>
        div {width: 100%;}
        a {display: block; text-align: center;}
    </style>

    <div class="text">
        <h1>Улица, парни и свобода</h1>
        <h2>Достучаться до небес, 1997 год, Германия</h2>
        <p>«Быстрый автомобиль, миллион марок в багажнике, и всего одна неделя, чтобы жить»</p>
        <p>Драма, комедия, криминал</p>
        <h2>Хулиганы зелёных улиц, 2005 год, США</h2>
        <p>«Стой на своём»</p>
        <p>Драма, криминал</p>
        <h2>Ребята с улицы, 1991 год, США</h2>
        <p>«Однажды в южной части Центрального Лос-Анджелеса... Это не сказка»</p>
        <p>Драма, криминал </p>
        <h2>Лицо со шрамом, 1983 год, США</h2>
        <p>«Мир принадлежит тебе»</p>
        <p>Боевик, триллер, драма, криминал </p>
        <h2>Кто если не мы, 1999 год, Россия</h2>
        <p>«Рождённые в СССР» </p>
        <p>Драма, романтика</p>
        <h2>Сволочи, 2006 год, Россия</h2>
        <p>«Ни любви, ни тоски, ни жалости»</p>
        <p>Боевик, драма, военный</p>
        <h2>Брат (все части), 1997–2000 года, Россия</h2>
        <h2>Острые козырьки, 2013 – 2022, Великобритания</h2>
        <p>«Улицы принадлежат им»</p>
        <p>Драма, криминал сериал</p>
    </div>

</body>
</html>