<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
</head>

<body>
    <h1 align="center">Какой фильм ты хочешь посмотреть?</h1>
    <style>
        p{
            font-size: 18pt;
        }
    </style>

    <style>
        body{
            background-image: url('../static/img.png');
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>

    <style>
        div {width: 100%;}
        a {display: block; text-align: center;}
    </style>

    <div class="text">
        <p><a href ='FreedomPage.html'>Улица, парни и свобода</a></p>
        <p><a href ='LovePage.html'>Для кого-то любовь, а для кого-то разрушающая страсть и безудержная нежность</a></p>
        <p><a href ='ElementarySchoolPage.html'>Атмосфера начальной школы и СТС</a></p>
        <p><a href ='OtherPage.html'>Другое</a></p>
    </div>


</body>
</html>