<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Для кого-то любовь, а для кого-то разрушающая страсть и безудержная нежность</title>
</head>
<body>
    <style>
        p{
        font-size: 18pt;
        }
    </style>

    <style>
        body{
            background-image: url("../static/img.png");
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>

    <style>
        div {width: 100%;}
        a {display: block; text-align: center;}
    </style>

    <div class="text">
        <h1>Для кого-то любовь, а для кого-то разрушающая страсть и безудержная нежность</h1>
        <h2>Голубая лагуна, 1980 год, США</h2>
        <p>«Красивая история о любви…»</p>
        <p>Приключенческий фильм, драма, мелодрама</p>
        <h2>Искупление, 2007 год Великобритания, Франция, Сша</h2>
        <p>«Обретённые любовью. Разлученные страхом. Спасённые надеждой»</p>
        <p>Драма, мелодрама, детектив, военный</p>
        <h2>Дневник памяти, 2004 год, США</h2>
        <p>«За каждой большой любовью стоит большая история»</p>
        <p>Драма, мелодрама</p>
        <h2>В метре друг от друга, 2019 год, США</h2>
        <p>«Когда жизнь разлучает вас – боритесь за каждый сантиметр»</p>
        <p>Драма, мелодрама</p>
        <h2>10 причин моей ненависти, 1999 год, США</h2>
        <p>«Я тоскую, я погибаю!»</p>
        <p>Драма, мелодрама, комедия</p>
        <h2>Гордость и предубеждение, 1995 год, Великобритания</h2>
        <p>драма, мелодрама</p>
        <h2>Гордость и предубеждение, 2005 год, Великобритания, Франция, США</h2>
        <p>«Иногда последний человек на земле, с которым ты хочешь быть - это тот, без кого ты не можешь»</p>
        <p>Драма, мелодрама</p>
        <h2>Сладкий ноябрь, 2001 год, США</h2>
        <p>«Ей понадобится месяц, чтобы изменить его жизнь навсегда»</p>
        <p>Драма, мелодрама</p>
    </div>

</body>
</html>