<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Другие</title>
</head>
<body>

    <style>
        p{
        font-size: 18pt;
        }
    </style>

    <style>
        body{
            background-image: url("../static/img.png");
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>

    <style>
        div {width: 100%;}
        a {display: block; text-align: center;}
    </style>

    <div class="text">
        <h1>Другие</h1>
        <h2>Драма</h2>
        <p>1+1, 2011 год, Франция</p>
        <p>«Иногда тебе приходится проникать в чужой мир, чтобы узнать, чего не хватает в твоем собственном»</p>
        <p>Драма, комедия, биография</p>
        <h2>Живописные</h2>
        <p>Лолита, 1998 год, Франция, США</p>
        <p>«Посмотри это и прими свое собственное решение»</p>
        <p>Драма, мелодрама</p>
        <p>Назови меня своим именем, 2017 год, Италия, Франция, США, Бразилия</p>
        <p>«Что лучше – говорить или умереть?»</p>
        <p>Драма, мелодрама</p>
        <h2>Сложные, глубокие</h2>
        <p>Бойцовский клуб, 1999 год, США</p>
        <p>«Интриги, хаос, мыло»</p>
        <p>Драма, триллер</p>
        <p>Малькольм и Мари, 2021 год, США</p>
        <p>«Безумно влюблён»</p>
        <p>Драма, мелодрама, камерное кино</p>
    </div>

</body>
</html>